<body>
    <div id="quote-box">
        <p id="text">{{ quote?.quote }}</p>
        <p id="author">{{ quote?.author }}</p>
        <button id="new-quote" (click)="onNew()">New Quote</button>
        <a id="tweet-quote" href="https://x.com/" target="_blank">
            <img src="../../assets/images/twitter-logo.jpg" alt="logo">
        </a>
        <a id="tweet-quote2" href="https://www.tumblr.com/login" target="_blank">
            <img src="../../assets/images/twitter-t.png" alt="t">
        </a>
    </div>
</body>